// Custom styles
@font-face {
  font-family: 'TAYBigBirdRegular';
  src: url('../assets/fonts/TAYBigBirdRegular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: system-ui, -apple-system, sans-serif;
  line-height: 1.5;
  margin: 0 auto;
  max-width: 800px;
  padding: 2rem;
}

a {
  font-family: 'TAYBigBirdRegular', sans-serif;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

img {
  max-width: 100%;
  height: auto;
} 