@font-face {
    font-family: 'TAYBigBirdRegular';
    src: url('/fonts/TAYBigBirdRegular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

a {
    font-family: 'TAYBigBirdRegular', sans-serif;
}